In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./RefinedData/training_data_v2.csv')

In [3]:
df.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,default_ind
0,230032.0,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,...,8.0,10.0,4.0,1.0,0.08696,10.0,0.63899,0.0,1.0,0.0
1,230033.0,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,8.0,0.0,2.0,0.0,0.00000,13.0,0.63836,0.0,0.0,1.0
2,230035.0,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,...,3.0,3.0,2.0,0.0,0.15385,3.0,0.53241,0.0,0.0,0.0
3,230036.0,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,...,2.0,3.0,2.0,0.0,0.00000,1.0,0.92665,0.0,0.0,0.0
4,230040.0,1836.0,0.1358,0.000,0.0,0.0,347.0,38964.0,17828.0,70729.0,...,6.0,12.0,2.0,0.0,0.00000,10.0,0.89868,0.0,0.0,0.0

In [4]:
df_norm = (df - df.min()) / (df.max() - df.min())

In [5]:
df_norm.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,default_ind
0,0.000000,0.444201,0.045909,0.000000,0.0,0.0,0.000000,0.009766,0.001103,0.080936,...,0.106061,0.166667,0.042105,0.066667,0.043480,0.109890,0.615677,0.0,1.0,0.0
1,0.000013,0.772429,0.022467,0.000000,0.0,0.0,0.002927,0.012230,0.010867,0.036558,...,0.106061,0.000000,0.021053,0.000000,0.000000,0.142857,0.615006,0.0,0.0,1.0
2,0.000038,0.538293,0.006087,0.000000,0.0,0.0,0.056874,0.042930,0.016980,0.040732,...,0.030303,0.050000,0.021053,0.000000,0.076925,0.032967,0.502214,0.0,0.0,0.0
3,0.000050,0.643326,0.000328,0.001297,0.0,0.0,0.156418,0.008921,0.018827,0.016013,...,0.015152,0.050000,0.021053,0.000000,0.000000,0.010989,0.921913,0.0,0.0,0.0
4,0.000100,0.750547,0.003769,0.000000,0.0,0.0,0.009957,0.063265,0.061095,0.141805,...,0.075758,0.200000,0.021053,0.000000,0.000000,0.109890,0.892137,0.0,0.0,0.0

In [6]:
df_norm.to_csv('./RefinedData/training_data_v3.csv', index = False)