In [8]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC

In [9]:
# data = pd.read_csv('./Data/Training_dataset_Small.csv')
data = pd.read_csv('training_data_v2.csv', low_memory=False)

In [10]:
data.head()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,8,10,4,1,0.08696,10,0.63899,0,1,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,8,0,2,0,0.00000,13,0.63836,0,0,1
2,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,3,3,2,0,0.15385,3,0.53241,0,0,0
3,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,2,3,2,0,0.00000,1,0.92665,0,0,0
4,230040,1836,0.1358,0.000,0.0,0.0,347,38964,17828,70729,...,6,12,2,0,0.00000,10,0.89868,0,0,0

In [11]:
trainDataKey = data['application_key']
data.drop('application_key', axis=1, inplace=True)

In [12]:
X = data[data.loc[:, data.columns != 'default_ind'].columns]
Y = data['default_ind']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=1)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(49876, 37)
(12470, 37)
(49876,)
(12470,)

In [14]:
print(X_train.head())

       mvar1   mvar2  mvar3  mvar4  mvar5  mvar6  mvar7  mvar8   mvar9  \
24939   1785  0.7162  0.000    0.0    0.0     35  17893   6541   36194
59102   1762  0.5201  0.818    0.0    0.0    737  18905    737   47236
12920   1737  0.6046  0.000    0.0    0.0      0  31151   1090  119526
51497   1755  0.0918  0.468    0.0    0.0      0   2676     55   20973
56419   1910  0.5201  0.000    0.0    0.0   3074  20874  20874   72541

       mvar10   ...    mvar34  mvar36  mvar37  mvar38  mvar39   mvar42  \
24939   56858   ...         0      13      14       3       0  0.00000
59102   37361   ...         0       4       9       1       0  0.18519
12920   54214   ...         0      12       7       7       0  0.04545
51497   13169   ...         0      14       3       4       0  0.00000
56419   76871   ...         0       5       7       0       0  0.00000

       mvar43   mvar44  mvar46  mvar47
24939      14  0.76885       0       1
59102      10  0.75623       0       0
12920      17  0.58203       0       1
51497      15  0.32459       0       1
56419       6  0.44116       0       1

[5 rows x 37 columns]

In [15]:
clf = SVC()
clf = SVC(kernel='rbf', gamma=0.001, C=100)
print("Done")

Done

In [16]:
clf.fit(X_train, Y_train)
print("Done")

Done

In [ ]:
print("Yes")

In [ ]:
scores = cross_val_score(clf, X_train, Y_train, cv=10)
print('CV accuracy: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

In [ ]:
scores = cross_val_score(clf, X_test, Y_test, cv=10)
print('CV accuracy: %.3f +/- %.3f' % (np.mean(scores), np.std(scores)))

In [105]:
# np.set_printoptions(threshold=np.inf)

In [106]:
# type(predict)
# X_test.head()

In [19]:
lb = pd.read_csv('refined_leaderboard_data_2.csv', low_memory=False)
key = pd.DataFrame(lb['application_key'])
lb.drop('application_key', axis=1, inplace=True)

In [20]:
predict = clf.predict(lb)

In [32]:
predict = pd.DataFrame(predict)
# print(predict.head())
print(sum(predict.values))

[7.]

In [22]:
# key = pd.DataFrame(lb['application_key'])
# key = key.values
print(key.shape)

(25000, 1)

In [27]:
temp = key
temp['default_ind'] = predict
print(temp.shape)
print(temp.head())
# temp = pd.DataFrame()
# temp['application_key'] = key
# temp['default_ind'] = predict
# print(temp.head())

(25000, 2)
   application_key  default_ind
0         350053.0          0.0
1         350054.0          0.0
2         350055.0          0.0
3         350056.0          0.0
4         350057.0          0.0

In [112]:
# predict = np.reshape(predict, (len(predict), 1))
# print(key.shape)
# print(predict.shape)
# predict = np.vstack((key, predict))
# print(predict[:5])

In [113]:
# predict = pd.DataFrame(predict)
# predict.head()

In [114]:
# predict = pd.concat([key, predict])
# predict.head()

In [28]:
temp

       application_key  default_ind
0             350053.0          0.0
1             350054.0          0.0
2             350055.0          0.0
3             350056.0          0.0
4             350057.0          0.0
5             350058.0          0.0
6             350059.0          0.0
7             350060.0          0.0
8             350061.0          0.0
9             350062.0          0.0
10            350063.0          0.0
11            350064.0          0.0
12            350065.0          0.0
13            350066.0          0.0
14            350067.0          0.0
15            350068.0          0.0
16            350069.0          0.0
17            350070.0          0.0
18            350071.0          0.0
19            350072.0          0.0
20            350073.0          0.0
21            350074.0          0.0
22            350075.0          0.0
23            350076.0          0.0
24            350077.0          0.0
25            350078.0          0.0
26            350079.0          0.0
27            350080.0          0.0
28            350081.0          0.0
29            350082.0          0.0
...                ...          ...
24970         375023.0          0.0
24971         375024.0          0.0
24972         375025.0          0.0
24973         375026.0          0.0
24974         375027.0          0.0
24975         375028.0          0.0
24976         375029.0          0.0
24977         375030.0          0.0
24978         375031.0          0.0
24979         375032.0          0.0
24980         375033.0          0.0
24981         375034.0          0.0
24982         375035.0          0.0
24983         375036.0          0.0
24984         375037.0          0.0
24985         375038.0          0.0
24986         375039.0          0.0
24987         375040.0          0.0
24988         375041.0          0.0
24989         375042.0          0.0
24990         375043.0          0.0
24991         375044.0          0.0
24992         375045.0          0.0
24993         375046.0          0.0
24994         375047.0          0.0
24995         375048.0          0.0
24996         375049.0          0.0
24997         375050.0          0.0
24998         375051.0          0.0
24999         375052.0          0.0

[25000 rows x 2 columns]

In [29]:
temp = temp.astype(dtype='int')
temp.to_csv(path_or_buf='Analyzing_IITGuwahati_15.csv', index = False, header=False)